.gear{
    position: absolute;
    margin-left: 105px;
    margin-top: -15px;
    font-size: 13px;
    
}

.gearD{
    position: absolute;
    margin-left: 415px;
    margin-top: 5px;
    font-size: 13px;
}

.gear:hover{

    cursor: pointer;
}

.gearD:hover{
    cursor: pointer;
}

.opciones{
    visibility: hidden;
    position: absolute;
   
}

.opciones--open{
    z-index: 99;
    position: absolute;
    width: 95%;
    height: 70%;
    background-color: rgb(196, 199, 202);
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

.opciones h5{
    margin-left: 1rem;
    text-align: left;
}

