.puntos {
    text-align: center;
}

.bi-three-dots {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}




.opciones h5 {
    margin-left: 1rem;
    text-align: left;
}

.opt {
    cursor: pointer;
}

.side {
    width: 100%;
}

.descripcion_campania {
    width: 50%;
}

/* Debe estar arriba que el sidebar */
.footer {
    z-index: 5;
}