.sideBar{

    
    position: absolute;
    right: 0;
    background-color: #BDBDC1;
    color: black;  
    height: 80%;
    z-index: 999;
    width: 500px;
    transform: translateX(100%);
    transition: all 0.4s;
    border-radius: 5px;
    padding: 35px;
}

.sideBar--open{
    
    transform: translateX(0%);
    
}

.sideBar h4{
    text-align: center;
}

.sideBar h5:hover{
    cursor: pointer;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #7681A0;
    border: none;
}