.sideBar{     
    position: absolute;
    /* bottom: 1px; */
    top: 90px;
    height:550px;
    right: 0;
    background-color: white;
    color: black;  
    z-index: 4;
    width: 35%;
    transform: translateX(110%);
    transition: all 0.4s;
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    transition: all 0.5s ease-out;
    box-shadow: -5px 5px 5px #c0c0c0;
}

.sideBar--open{
    
    transform: translateX(6%);
    
}

.sideBar h4{
    text-align: center;
}

.sideBar h5:hover{
    cursor: pointer;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #7681A0;
    border: none;
}

.form-controll{
    height: 100px;
    width: 100%;
    padding-left: 10px;
}

@media (max-width: 1280px){
    
    .sideBar{
         max-height: 500px;
         overflow-y: scroll;
    }

}

@media (max-width: 2200px){
    .sideBar{        
        height: 85%;
        overflow-y: scroll;
    }
}